
/* Instead of typing # to add color you just put primary/sec etc. */
:root {
    --primary-color: #6b46c1;
    --secondary-color: #f0f0f0;
    --tertiary-color: #200599;
    --fifth-color: #8c5ae3;
    --red-color: #ff0000;
}




/* Navbar container */
nav {
    background-color: var(--primary-color); 
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

/* Navigation links */
nav .flex a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s ease;
}

/* The hovering effect for menu words */
nav .flex a:hover {
    color: var(--fifth-color); 
}

/* Styling for the links container */
nav .flex {
    display: flex;
    gap: 1rem;
    align-items: center;
}

/* Clerk buttons styling */
nav .flex button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav .flex button:hover {
    background-color: white;
    color: var(--primary-color); 
}

/* User button styling */
nav .flex .cl-userButton {
    display: flex;
    align-items: center;
}


/*  flex is being used but grid can also be used*/